body {
    margin:0;
}
/* Styling for the navbar*/
nav {
    position: fixed; 
    width: 100vw;
    background-color: grey;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.4) ;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
}
#nav-items {
    margin: 0;
    list-style: none;
    align-self: center;
}

.nav-item {
    display: inline-block;
    padding: 1em;
    border-width: thin;
    border-left: solid;
}

.nav-logo {
    height: 50px;
    width: 50px;
}