:root {
    --navbar-colour: #ccffdd;
    --link-colour: #000000;
    --link-hover-colour: #0f101a96;
}

body {
    margin:0;
}

/* Styling for the navbar*/
nav {
    position: fixed; 
    width: 100vw;
    background-color:var(--navbar-colour);
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.4) ;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 32px 16px 32px;
}
#nav-items {
    margin: 0;
    list-style: none;
    align-self: center;
}

.nav-item {
    display: inline-block;
    padding: 1em;
}
.nav-item a {
    text-decoration: none;
    color: var(--link-colour);
    font-family: 'Open Sans Condensed', sans-serif;
}
.nav-item a:hover {
    color: var( --link-hover-colour);
}
.nav-logo {
    height: 50px;
    width: 50px;
}